/*Product Manage*/
.pm {
    display: flex;
}

.pm__main {
    margin-left: 16px;
    flex-grow: 1;
}
.pm__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 24px;
}

.pm__btn-add-warp {
    padding: 4px;
    background-color: #97b0fa;
    width: fit-content;
    border-radius: 10px;
}

.pm__btn-add {
    display: flex;
    background-color: #285aeb;
    color: #fff;
    padding: 8px;
    width: fit-content;
    border-radius: 10px;
    align-items: center;
}

    .pm__btn-add img {
        width: 16px;
        height: 16px;
        background-color: green;
        border-radius: 100%;
        color: white;
    }

    .pm__btn-add a {
        padding: 8px;
        display: block;
    }

.pm__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

.pm__table-item,
.pm__table-title {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.pm__table-item-img {
    width: 80px;
}

.pm__table-item {
    align-items: center;
    vertical-align: middle;
}

    .pm__table-item:nth-child(1) {
        width: 150px;
    }

    .pm__table-item:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    .pm__table-item:nth-child(4) {
        width: 100px;
    }

    .pm__table-item:nth-child(5) {
        width: 200px;
    }



/* add product page */

.add-product__main {
    margin-left: 16px;
    flex-grow: 1;
}

.add-product__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-product__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 24px;
}

.add-product__action {
    margin-top: 24px;
    background-color: #db4444;
}

    .add-product__action button {
        color: #fff;
        padding: 16px 24px;
    }

.add-product__form {
    display: flex;
}

.add-product__form-info {
    width: 50%;
    border: 1px solid #000;
    padding: 32px;
}

.add-product__form-info-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 24px;
}

.add-product__form-info-base,
.add-product__form-info-detail {
    border: 1px solid #000;
    padding: 24px;
    border-radius: 5px;
    margin-bottom: 24px;
}

.add-product__form-group {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.add-product__form-label {
    font-size: 16px;
    line-height: 24px;
}

.add-product__form-text {
    outline: 1px solid #000;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    margin-top: 8px;
    font-size: 16px;
}

.add-product__form-area {
    resize: none;
    margin-top: 8px;
    font-size: 16px;
    padding: 8px;
}

.add-product__form-picture {
    width: 50%;
    border: 1px solid #000;
    border-left: none;
    padding: 32px;
    text-align: center;
}


.add-product__form-picture-thumbnail {
    --square: 437px;
    width: var(--square);
    height: var(--square);
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px dashed #ccc;
    padding: 10px;
    transition: border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .add-product__form-picture-thumbnail img {
        max-width: 100%;
        max-height: 400px;
        object-fit: cover;
    }

  
    .add-product__form-picture-thumbnail:hover {
        border-color: #000;
    }


.add-product__form-picture-warp {
    display: flex;
    justify-content: space-between;
}


.add-product__form-picture-item {
    --square: 100px;
    width: var(--square);
    height: var(--square);
    cursor: pointer;
    border: 2px dashed #ccc;
    padding: 5px;
    transition: border-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

    .add-product__form-picture-item + .add-product__form-picture-item {
        margin-left: 8px;
    }


    .add-product__form-picture-item:hover {
        border-color: #000;
    }


    .add-product__form-picture-item img {
        max-width: 100%;
        max-height: 100px;
        object-fit: cover;
    }

/*Modal*/
.modal {
    display: none; /* Ẩn modal mặc định */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màn che mờ */
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 50px;
    border-radius: 16px;
    width: 500px;
    text-align: center;
    position: relative;
}

.model__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modal-actions {
    margin-top: 40px;
}

.model__btn-cancel,
.model__btn-delete {
    border-radius: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.model__btn-cancel {
    background-color: grey;
    color: white;
    margin-right: 16px;
}

.model__btn-delete {
    background-color: red;
    color: white;
}