/* cart */
.cart__main-title {
    display: flex;
    padding: 24px 40px;
    justify-content: space-between;
}

.cart__main-title-item {
    width: 280px;
    text-align: center;
}

    .cart__main-title-item:first-child {
        text-align: left;
    }

    .cart__main-title-item:last-child {
        text-align: right;
    }

.cart__main-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 102px;
    padding: 24px 40px;
    margin-top: 40px;
    flex-grow: 1;
}

.cart__main-item {
    width: 280px;
    text-align: center;
}

    .cart__main-item:first-child {
        text-align: left;
    }

    .cart__main-item:last-child {
        text-align: right;
    }

.cart__main-product {
    display: flex;
    align-items: center;
}

.cart__main-product-thumbnail {
    width: 50px;
    padding: 8px 2px;
    margin-right: 20px;
}

.cart__main-product-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
}

.cart__main-quantity {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72px;
    height: 44px;
    padding: 6px 0px;
    border-radius: 5px;
    padding: 0 6px;
    border: 1px solid black;
}

.cart__main-quantity-input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

    .cart__main-quantity-input::-webkit-outer-spin-button,
    .cart__main-quantity-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.cart__main-quantity-btn {
    display: flex;
    flex-direction: column;
}

.cart-btn-up,
.cart-btn-down {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

    .cart-btn-up img {
        width: 16px;
        height: 16px;
    }

    .cart-btn-down img {
        width: 16px;
        height: 16px;
    }

.cart__main-subtotal {
}

.cart__action {
    display: flex;
    justify-content: space-between;
}

.cart__action-item {
    padding: 16px 48px;
    border: 1px solid #000;
    border-radius: 4px;
}

.cart__action-item-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #000;
}

.cart__checkout {
    margin-top: 80px;
    display: flex;
    justify-content: right;
}

.cart__total {
    border: 1px solid #000;
    padding: 32px 24px;
    width: 470px;
}

.cart__total-header {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 24px;
}

.cart__total-item + .cart__total-item {
    border-top: 1px solid black;
}

.cart__total-item {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.cart__action-btn {
    padding: 16px 48px;
    background-color: #db4444;
    color: #fafafa;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: fit-content;
    margin: 8px auto 0;
}
