/* Category and Brand */

.cate-bard {
    flex-grow: 1;
    margin-left: 16px;
}

.cate-bard__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 24px;
}

.cate-bard__btn-add-warp {
    padding: 4px;
    background-color: #97b0fa;
    width: fit-content;
    border-radius: 10px;
}

.cate-bard__btn-add {
    display: flex;
    background-color: #285aeb;
    color: #fff;
    padding: 8px;
    width: fit-content;
    border-radius: 10px;
    align-items: center;
}

    .cate-bard__btn-add img {
        width: 16px;
        height: 16px;
        background-color: green;
        border-radius: 100%;
        color: white;
    }

    .cate-bard__btn-add a {
        padding: 8px;
        display: block;
    }

.cate-bard__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

    .cate-bard__table th,
    .cate-bard__table td {
        padding: 12px;
        border: 1px solid #ddd;
    }

        .cate-bard__table th:nth-child(1) {
            width: 20%;
        }

        .cate-bard__table th:nth-child(2) {
            width: 40%;
        }

        .cate-bard__table th:nth-child(3) {
            width: 40%;
        }

.addCateForm {
    margin: 20px 0;
    width: 100%;
    text-align: left;
}

    .addCateForm input {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: #e8f0fe;
    }
