@using Store_EF.Models
@using Store_EF.Models.Extensions;
@model IEnumerable<Product>
@{
    ViewBag.Title = "Home Page";
    StoreEntities store = new StoreEntities();
}

<div class="container">
    <main>
        @Html.Partial("_Hero")
        <section class="product">
            <div class="product__list">
                @foreach (Product p in Model)
                {
                    <a class="product__item" href="@Url.Action("Detail", "Products", new { Id = p.ProductId })">
                        <div class="product__img">
                            <img src="~/Public/Imgs/Products/@p.Thumbnail()" alt="" />
                            @{
                                double result = p.DiscountPercentage();
                                if (result != 0)
                                {
                                    <div class="product__sale">-@result%</div>
                                }
                            }
                        </div>
                        <div class="product__info">
                            <h3 class="product__name">@p.Title</h3>
                            <div class="products__price">Giá: @p.FormattedPrice()</div>
                        </div>
                    </a>
                }
            </div>
        </section>
    </main>
</div>