<section class="hero">
    <div class="hero__inner">
        <div class="hero__left">
            <ul>
                <li><a href="">Laptop Gaming</a></li>
                <li><a href="">Laptop Văn Phòng</a></li>
                <li><a href="">Macbook</a></li>
            </ul>
        </div>
        <div class="hero__right">
            <img src="~/Public/imgs/hero.png" alt="hero" />
        </div>
    </div>
</section>